<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>

     <%-include('includes/navigation')%>
   
    <main>
      <h1>My Product</h1>
      <p>This is all of my products</p>
      <% if (prods.length > 0) { %>

      <div class="grid">
        <% for (const prod of prods) { %>
        <article class="product-item card">
          <header class="card__header">
            <h1 class="card__title"><%= prod.title %></h1>
          </header>
          <div class="card__image">
            <img src="https://picsum.photos/200/300" alt="A Book" />
          </div>
          <div class="card__content">
            <h2 class="card__price">$19.99</h2>
            <p class="card__description">A great book!</p>
          </div>
          <div class="card__actions">
            <button>Add to Cart</button>
          </div>
        </article>
        <% } %>
      </div>
      <% } else {%>
      <h2>No products found.</h2>
      <% } %>
    </main>
  </body>
</html>
