body{background-color:#222a3a;
color: #E3F2FD;
font-size: 1rem; }

a{color:black; }

#Frontend{
background:#3b4451;
border-radius: 40px;
}
#backend{
  background-color:#3b4451;
  border-radius: 40px;
}
#sql{
  background-color:#3b4451;
  border-radius: 40px;
}
#php{
    background-color:#3b4451;
    border-radius: 40px;
}
#fontos{
  background-color: #3b4451;
  border-radius: 40px;
}
#react{
  background-color: #3b4451;
  border-radius: 40px;
}
h1{margin-left: 20px;}
li, div{
  margin:10px;
  
}
.row{margin:0px;}
