<header>
        <nav>
            <ul>
                <li><a href="/" <%= path === '/' ? 'class="active"' : '' %>>Home</a></li>
                <li><a href="/users" <%= path === '/users' ? 'class="active"' : '' %>>Users</a></li>
            </ul>
        </nav>
    </header>