<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="/users.css" />
  </head>
  <body>
    <%-include('includes/navbar')%>
    <h1>Users</h1>
    <ul>
      <% for (const user of users) { %>
      <li><%= user %></li>
      <% } %>
    </ul>
  </body>
</html>
